div.imgBack {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9997;
    cursor: url("../img/icon/bigger2.cur"), auto;
}

img.biggerImg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 0px;
}

body {
    height: 100%;
}

div.funButtonBox{
    display: none;
    position: fixed;
    top: 500px;
    right: 17%;
    width: 50px;
    height: 300px;
    color: rgba(255, 130, 70, 0.5);
}

div.funButtonCir {
    margin-bottom: 15px;
    text-align: center;
    padding-top: 6px;
    width: 53px;
    height: 53px;
    background-color: white;
    box-shadow: 2px 2px 12px 7px rgba(200, 200, 200, 0.1), 2px 2px 20px 5px rgba(200, 200, 200, 0.2);
    border-radius: 50px;
    font-size: 25px;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
}

div.funButtonCir:hover {
    cursor: pointer;
    background-color: rgba(255, 130, 70, 0.9);
    box-shadow: 2px 2px 12px 7px rgba(255, 130, 70, 0.1), 2px 2px 20px 5px rgba(255, 255, 255, 0.1);
    color: white;
}

#blogBackground {
    width: 100%;
    height: 600px;
}

div.blogTitle {
    src: url('../fonts/Deng.ttf');
    font-family: "等线";
    position: absolute;
    left: 22%;
    top: 350px;
    width: 78%;
    color: white;
    font-size: 60px;
    text-align: left;
}

div.tagContainer {
    position: absolute;
    left: 22%;
    top: 435px;
    width: 50%;
    height: 50px;
    color: #cccccc;
    font-size: 20px;
    text-align: left;
}

img.blogTitleImg {
    position: fixed;
    width: 100%;
    left: 0px;
}

div.contentListOut {
    display: none;
    position: fixed;
    padding: 10px;
    width: 20%;
    left: 10px;
    top: 400px;
    z-index: 2;
    transform: translate(0%, -50%);
}

div.contentBorder {
    display: none;
}

div.contentTitile {
    padding-left: 4px;
    width: 100%;
    height: 18px;
    margin-bottom: 25px;

    font-size: 22px;
    color: rgba(100, 100, 100, 0.5);
}

div.contentList {
    padding: 10px;
    border-left: 3px solid rgba(120, 180, 220, 0);
}

a.contentListCon {
    padding-left: 10px;
    padding-top: 0px;;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    height: 26px;
    margin: 1px 0px 0px 0px;
    display: block;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    border-radius: 5px;
    src: url('../fonts/Deng.ttf');
    font-family: "等线";
}

div.glass {
    background-color: rgba(0, 0, 0, 0.8);
}

a.contentListCon:hover {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

div.blogMainBlock {
    position: relative;
    width: 100%;
    background-color: white;
    z-index: 1;
}

div.articleContext {
    position: relative;
    width: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 1);
    font-size: 18px;
    min-height: 600px;
    padding-top: 80px;
    padding-bottom: 50px;
    /*word-wrap: break-all;*/
    text-align: left;
}

div.articleBorder {
    box-shadow: 2px 10px 12px 5px rgba(0,0,0,0.03), 2px 12px 20px 5px rgba(0,0,0,0.01);
    margin: auto;
    width: 55%;
    padding: 30px 60px 100px 60px;
    border-radius: 0px;
    background-color: white;
    color: rgba(80, 80, 80, 0.9);
    src: url('../fonts/Deng.ttf');
    font-family: "等线";
}

div.h2 {
    src: url('../fonts/Deng.ttf');
    font-family: "等线";
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    background-image: url("../img/icon/underline.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 65px;
    margin: 0px;
    width: 100%;
    padding-top: 25px;
    min-height: 80px;
}

div.h3 {
    src: url('../fonts/Deng.ttf');
    font-family: "等线";
    font-weight: bold;
    font-size: 28px;
    font-style: italic;
    text-align: center;
    padding-top: 10px;
    width: 100%;
    min-height: 60px;
    margin: 0px;
}

div.h4 {
    src: url('../fonts/Deng.ttf');
    font-family: "等线";
    font-weight: bold;
    /*background-image: url("../img/icon/h4.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 44px;
    background-size: 2.5%;*/
    font-size: 28px;
    margin-left: -61px;
    margin-top: 10px;
    margin-bottom: 20px;
    /*background-color: rgba(120, 220, 190, 0.05);*/
    border-left: 8px solid rgba(120, 210, 230, 1);
    border-radius: 0px 5px 5px 0px;
    padding: 10px 20px 3px 53px;
    min-height: 50px;
}

div.h5 {
    src: url('../fonts/Deng.ttf');
    font-family: "等线";
    /*background-image: url("../img/icon/h5.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 28px;
    background-size: 2.3%;*/
    font-weight: bold;
    color: rgba(70, 150, 160, 0.8);
    font-size: 23px;
    margin-left: -61px;
    margin-top: 15px;
    margin-bottom: 10px;
    /*background-color: rgba(110, 220, 250, 0.05);*/
    border-left: 8px solid rgba(200, 200, 200, 0);
    padding: 5px 0px 2px 53px;
    border-radius: 0px 5px 5px 0px;
    min-height: 25px; 
}

#quoteIcon {
    margin-right: 30px;
}

div.quote {
    /*background-image: url("../img/icon/quote.png");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 3%;
    border-left: 2px solid #aaaaaa;*/
    color: #888888;
    margin: 30px 0px 30px 0px;
    text-indent: -30px;
    padding-left: 70px;    
    width: 100%;
}

div.quoteAgain {
    color: #888888;
    margin: 30px 0px 30px 0px;
    padding: 0px 0px 0px 70px;   
    width: 100%; 
}

div.normal {
    word-wrap: break-word;
    padding: 2px 0px 2px 0px;
    width: 100%;
}

span.strong {
    font-weight: bold;
}

span.italic {
    font-style: italic;
}

span.underline {
    text-decoration: underline;
}

span.strike {
    text-decoration: line-through;
}

span.emphasis {
    padding: 0px 2px 0px 2px;
    background-color:rgba(100, 100, 100, 0.18);
    /*border: 1.5px solid rgba(0, 0, 0, 0.2);*/
    /*border: 2px solid rgba(255, 150, 60, 0.3);*/
    /*background-color:rgba(255, 150, 60, 0.06);*/
    border-radius: 4px;
}

a.conncetion {
    padding: 20px;
    display: block;
    margin: 10px 0px 10px 0px;
    font-size: 19px;
    width: 100%;
    color: rgba(100, 200, 230, 1);
    min-height: 50px;
    border-radius: 10px;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}
a.conncetion:hover {
    text-decoration: none;
    background-color: rgba(100, 210, 250, 0.3);
    color: white;
}

pre.codeBlock {
    width: 100%;
}

img.blogImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    margin-bottom: 30px;
    padding-top: 30px;
    cursor: url("../img/icon/bigger2.cur"), auto;
}

a.noStyle {
    color: rgba(0, 0, 0, 0.3);
}

a.noStyle:hover {
    text-decoration: none;
}

div.blogTrans {
    height: 50px;
    font-size: 18px;
}

div.lastBlog {
    position: absolute;
    left: 0px;
    padding-top: 6px;
    text-align: center;
    width: 120px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

div.nextBlog {
    position: absolute;
    right: 0px;
    padding-top: 6px;
    text-align: center;
    width: 120px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

div.myAffix {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100px;    
}

div.feet {
    position: absolute;
    bottom: 0px;
    color: #999999;
    background-color: rgba(250, 250, 250, 0);
    width: 100%;
    height: 35px;
}

div.copyrigt {
    height: 35px;
    position: absolute;
    font-size: 17px;
    left: 50px;
    text-align: center;
    padding: 5px;
    background-color: rgba(250, 250, 250, 0);
}

div.callme {
    height: 35px;
    position: absolute;
    font-size: 17px;
    right: 50px;
    text-align: center;
    padding: 5px;
    background-color: rgba(250, 250, 250, 0);
}

#shareBigBox {
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 500px; 
}

#shareBox {
    padding: 8px 20px 0px 20px;
    border: 0px solid rgba(100, 100, 100, 0.1);
    box-shadow: 2px 2px 12px 10px rgba(200, 200, 200, 0.2), 2px 2px 20px 10px rgba(200, 200, 200, 0.3);
    border-radius: 10px;
    width: 325px;
    height: 100px;
    background-color: rgba(255, 255, 255, 1);
    zoom: 2;
}

#shareClose {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 25px;
    text-align: center;
    width: 35px;
    height: 35px;
    padding-top: 5px;
    border-radius: 50px;
    right: -10px;
    top: -10px;
    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2;
}

#shareClose:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}