@font-face {
    font-family: Qualey;
    src: url('../font/Qualey.eot');
    src:
        url('../font/Qualey.eot?#font-spider') format('embedded-opentype'),
        url('../font/Qualey.woff') format('woff'),
        url('../font/Qualey.ttf') format('truetype'),
        url('../font/Qualey.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: graydesign;
    src: url('../font/graydesign.eot');
    src:
        url('../font/graydesign.eot?#font-spider') format('embedded-opentype'),
        url('../font/graydesign.woff') format('woff'),
        url('../font/graydesign.ttf') format('truetype'),
        url('../font/graydesign.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: script;
    src: url('../font/script.eot');
    src:
        url('../font/script.eot?#font-spider') format('embedded-opentype'),
        url('../font/script.woff') format('woff'),
        url('../font/script.ttf') format('truetype'),
        url('../font/script.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0px;
}

body {
    margin: 0px;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#webTitle {
    position: relative;
    width: 100%;
    height: 170px;
    /* background-color: gray; */
}

#webTitle1, #webTitle2 {
    position: relative;
    width: 100%;
    text-align: center;
}

#webTitle1 {
    font-family: Qualey;
    font-size: 60px;
    padding-top: 40px;
    color: #333;
}

#webTitle2 {
    font-family: graydesign;
    letter-spacing: 2px;
    font-size: 28px;
    color: #555;
}

#nav {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    z-index: 10;
}

#navbbox {
    position: absolute;
    width: fit-content;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.vava {
    float: left;
    display: block;
}

.navb:hover {
    color: white;
    background-color: #333;
}

.navb {
    line-height: 60px;
    font-size: 25px;
    font-family: sans-serif;
    color: #333;
    padding: 0px 20px 0px 20px;
    margin: 0px 30px 0px 30px;
    cursor: pointer;

    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

#navt {
    color: white;
    background-color: #444;
}

#content {
    position: relative;
    width: 100%;
    height: 2000px;
}

#leftBox {
    position: absolute;
    top: 50px;
    width: 35%;
    height: 100px;
}

#rightBox {
    position: relative;
    width: 100%;
    padding-left: 35%;
}

#leftTitle {
    position: relative;
    letter-spacing: 1px;
    width: 90%;
    left: 5%;
    background-color: #444;
    color: white;
    font-size: 28px;
    text-align: center;
    padding: 20px 20px 27px 20px;
    font-family: script;
}

#cateBox {
    position: relative;
    margin-top: 50px;
    width: 90%;
    left: 5%;
    height: 550px;
    background-color: white;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.07);
}

#cates {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.cate:hover {
    background-color: rgba(255, 255, 255, 0.4);
    /* color: #333; */
}

.cate {
    float: left;
    padding: 6px 10px 6px 10px;
    font-size: 23px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    color: #eee;
    /* border: 1px solid #eee; */
    margin: 0px 15px 15px 0px;
    cursor: pointer;

    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

#cateImg {
    position: absolute;
    height: 100%;
    object-fit: cover;
}

#cateImgBox {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: brightness(0.6);
}