#homeBackground {
    background-image: url("../img/570ca371a945c.jpg");
    background-attachment: fixed;
    width: 100%;
    height: 600px;
}

div.homeTitle {
    position: absolute;
    font-family: "Arial";
    left: 0;
    top: 300px;
    width: 100%;
    color: white;
    font-size: 100px;
    text-align: center;
}

div.nevigation {
    position: sticky;
    font-family: "Arial";
    top: 0px;
    height: 55px;
    background-color: white;
    z-index: 9998;
}

div.nevigation_content1 {
    position: absolute;
    left: 100px;
    width: 200px;
    height: 55px;
}

div.navigation_content2 {
    position: absolute;
    right: 50px;
    width: 600px;
    height: 55px;
}

div.nav_text_home {
    color: #777777;
    background-image: url("../img/home_gray_tra.png");
    background-repeat: no-repeat;
    background-position-x: 8px;
    background-position-y: 10px;
    position: absolute;
    font-family: "Arial";
    border: 0px;
    font-size: 25px;
    height: 55px;
    padding-top: 10px;
    padding-left: 35px;
    width: 130px;
    text-align: center;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    border-radius: 0px;
}


div.nav_text {
    border-radius: 0px;
    color: #777777;
    float: left;
    font-family: "Arial";
    border: 0px;
    font-size: 25px;
    height: 55px;
    padding-top: 8.5px;
    width: 100px;
    margin-left: 50px;
    text-align: center;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

div.nav_text:hover {
    background-color: #eeeeee;
}

div.nav_text_home:hover {
    background-color: #eeeeee;
}

div.home_background {
    width: 100%;
    background-color: #f4f4f4;
}

div.text_container {
    position: relative;
    margin: auto;
    width: 80%;
}

button.box {
    position: absolute;
    border: 0;
    border-radius: 7px;
    width: 274px;
    background-color: white;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    padding : 0px;
}

button.box:hover {
    margin-top: -5px;
    box-shadow: 0px 12px 16px 5px rgba(0,0,0,0.10), 0px 16px 25px 5px rgba(0,0,0,0.20);
}

div.boxUp {
    position: relative;
    width: 100%;
}

img.boxUpImg {
    position: relative;
    width: 100%;
    border-radius: 7px 7px 0px 0px;
}

div.briefIntro {
    position: relative;
    width: 100%;
    height: 77px;
    padding: 8px 10px 0px 10px;
}

p.briefIntroContext {
    opacity: 1;
    position: absolute;
    font-size: 14px;
    width: 94%;
    color: gray;
    margin: 0px;
    text-align: left;
}

div.sawNumBox {
    opacity: 1;
    position: relative;
    width: 100%;
    height: 20px;
    color: gray;
}

img.eyeImg {
    position: absolute;
    width: 6%;
    top: 3.5px;
    left: 6px;
}

p.sawNum {
    position: absolute;
    left: 29px;
    margin-bottom: 0px;
    margin-top: -1.5px;
}

div.boxDown {
    opacity: 1;
    position: relative;
    width: 100%;
    height: 100px;
}

div.boxInter {
    opacity: 1;
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #eeeeee;
}

div.inf1 {
    position: relative;
    width: 100%;
    height: 60px;
}

div.inf2 {
    position: relative;
    width: 100%;
    height: 40px;
}

p.infoText {
    position: absolute;
    text-align: left;
    font-size: 18px;
    font-family: "等线";
    src: url('../fonts/Deng.ttf');
    color: black;
    padding: 10px 10px 10px 12px;
    margin: 0px;
}

p.tagText {
    position: absolute;
    font-size: 13px;
    left: 15px;
    top: 5px;
    color: gray;
}

div.feet {
    color: #999999;
    background-color: #f4f4f4;
    width: 100%;
    height: 35px;
}

div.copyrigt {
    height: 35px;
    position: absolute;
    font-size: 17px;
    left: 50px;
    text-align: center;
    padding: 5px;
    background-color: #f4f4f4;
}

div.callme {
    position: absolute;
    font-size: 17px;
    right: 50px;
    text-align: center;
    padding: 5px;
    background-color: #f4f4f4;
}