::selection {
    background:rgba(255, 240, 150, 0.4);
}

::-moz-selection {
    background:rgba(255, 240, 150, 0.4);
}

::-webkit-selection {
    background:rgba(255, 240, 150, 0.4);
}

#homeBackground {
    background-image: url("../img/background-img/1.jpg");
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    height: 600px;
}

div.homeTitle {
    position: absolute;
    font-family: "Arial";
    left: 0;
    top: 300px;
    width: 100%;
    color: white;
    font-size: 80px;
    text-align: center;
}


div.glass {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0px;
    width: 100%;
    height: 600px;
}

div.nevigation {
    position: absolute;
    font-family: "Arial";
    margin: auto;
    top: 0px;
    font-size: 20px;
    height: 55px;
    /*border-top: rgba(255, 150, 100, 1) solid 3px;*/
    background-color: rgba(255, 255, 255, 0);
    z-index: 9990;
    width: 100%;
}

img.siteImg {
    position: absolute;
    width: 40px;
    top: 7px;
    left: 80px;
    opacity: 0.5;
}

div.nevigation_content1 {
    position: absolute;
    left: 0px;
    width: 230px;
    height: 55px;
}

div.navigation_content2 {
    position: absolute;
    right: 50px;
    width: 440px;
    height: 55px;
}

div.nav_text_home {
    /*
    background-image: url("../img/home_gray_tra.png");
    background-repeat: no-repeat;
    background-position-x: 8px;
    background-position-y: 10px;
    */
    font-weight: bold;
    left: 50px;
    position: absolute;
    font-family: "Arial";
    border: 0px;
    height: 55px;
    padding-top: 13px;
    width: 170px;
    text-align: center;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.9);
}

div.nav_search {
    position: relative;
    float: left;
    height: 55px;
    width: 200px;
}

div.nav_text {
    border-radius: 0px;
    float: left;
    font-family: "Arial";
    border: 0px;
    height: 55px;
    padding-top: 13px;
    width: 70px;
    margin-left: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

div.nav_text:hover {
    color: rgba(100, 210, 250, 0.9);
    /*background-color: rgba(255, 255, 255, 0.3);*/
}

div.nav_text_home:hover {
    color: white;
    background-color: rgba(100, 210, 250, 0.8);
}

div.home_background {
    zoom: 0.85;
    width: 100%;
    background-color: #f9f9f9f9;
}


div.homeInter {
    width: 100%;
    height: 10px;
    background-color: #f9f9f9f9;
}

div.text_container {
    padding-top: 100px;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    width: 80%;
}

button.box {
    position: absolute;
    border: 0;
    border-radius: 0px;
    width: 274px;
    background-color: white;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    padding : 0px;
    /*box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.03), 0px 2px 20px 5px rgba(0,0,0,0.01);*/
}

button.box:hover {
    cursor: pointer;
    margin-top: -8px;
    box-shadow: 0px 2px 16px 3px rgba(0,0,0,0.10), 0px 2px 25px 5px rgba(0,0,0,0.20);
}

div.boxUp {
    position: relative;
    width: 100%;
}

img.boxUpImg {
    position: relative;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
}

div.briefIntro {
    position: relative;
    width: 100%;
    height: 85px;
    padding: 5px 8px 0px 8px;
}

p.briefIntroContext {
    opacity: 1;
    position: absolute;
    font-size: 17px;
    width: 95%;
    color: rgb(160, 160, 160);
    margin: 0px;
    text-align: left;
}

div.sawNumBox {
    opacity: 1;
    position: relative;
    width: 100%;
    height: 23px;
    color: rgb(160, 160, 160);
}

#timeLabel {
    float: left;
    padding-left: 8px;
    padding-top: 3px;
}

p.sawNum {
    position: absolute;
    left: 29px;
    margin-bottom: 0px;
}

div.boxDown {
    opacity: 1;
    position: relative;
    width: 100%;
    height: 120px;
}

div.boxInter {
    opacity: 1;
    position: relative;
    width: 100%;
    height: 1px;
    background-color: white;
}

div.inf1 {
    position: relative;
    width: 100%;
    height: 73px;
}

div.inf2 {
    position: relative;
    width: 100%;
    height: 35px;
}

p.infoText {
    position: absolute;
    text-align: left;
    font-size: 25px;
    src: url('../fonts/Deng.ttf');
    font-family: "等线";
    font-weight: bold;
    color: #666666;
    padding: 7px 9px 0px 11px;
    margin: 0px;
}

p.tagText {
    position: absolute;
    font-size: 15px;
    left: 14px;
    top: 5px;
    color: gray;
}

div.feet {
    color: #999999;
    background-color: #f9f9f9f9;
    width: 100%;
    height: 35px;
}

div.copyrigt {
    height: 35px;
    position: absolute;
    font-size: 17px;
    left: 50px;
    text-align: center;
    padding: 5px;
    background-color: #f9f9f9f9;
}

div.callme {
    position: absolute;
    font-size: 17px;
    right: 50px;
    text-align: center;
    padding: 5px;
    background-color: #f9f9f9f9;
}