@font-face {
    font-family: lishu;
    src: url('../font/AaFangFangLiShu-2.eot');
    src:
        url('../font/AaFangFangLiShu-2.eot?#font-spider') format('embedded-opentype'),
        url('../font/AaFangFangLiShu-2.woff') format('woff'),
        url('../font/AaFangFangLiShu-2.ttf') format('truetype'),
        url('../font/AaFangFangLiShu-2.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ChineseFan;
    src: url('../font/ChineseFan.eot');
    src:
        url('../font/ChineseFan.eot?#font-spider') format('embedded-opentype'),
        url('../font/ChineseFan.woff') format('woff'),
        url('../font/ChineseFan.ttf') format('truetype'),
        url('../font/ChineseFan.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: lishu2;
    src: url('../font/GuFengLiShu.eot');
    src:
        url('../font/GuFengLiShu.eot?#font-spider') format('embedded-opentype'),
        url('../font/GuFengLiShu.woff') format('woff'),
        url('../font/GuFengLiShu.ttf') format('truetype'),
        url('../font/GuFengLiShu.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Light;
    src: url('../font/Deng.eot');
    src:
        url('../font/Deng.eot?#font-spider') format('embedded-opentype'),
        url('../font/Deng.woff') format('woff'),
        url('../font/Deng.ttf') format('truetype'),
        url('../font/Deng.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


html {
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

/* body {
    -ms-overflow-style: none;
    height: 100%;
	width: calc(100vw + 18px);
	overflow: auto;
} */

body {
    height: 100%;
}

#loading {
    position: relative;
    top: 50%;
}

#sliderContainer {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

#imgWrap {
    position: absolute;
    width: 500%;
    height: 100%;
    z-index: 1;
}

.sliderPage {
    float: left;
    width: 20%;
    height: 100%;
    overflow: hidden;
}

.sliderImg {
    width: 100%;
    height: 100%;
    object-fit:cover;
    top: 100px;
    filter: brightness(0.2)
}

#textWrap {
    /* font-family: "等线"; */
    position: absolute;
    width: 500%;
    height: 100%;
    color: #dddddd;
    font-size: 22px;
    z-index: 3;
}

.sliderTextPage {
    float: left;
    width: 20%;
    height: 100%;
    padding-left: 235px;
    padding-top: 110px;
}

.sliderTitle {
    font-family: lishu;
    font-size: 140px;
}

.sliderTime {
    font-size: 35px;
    font-family: lishu2;
    margin-top: 150px;
}

.sliderBrief {
    margin-top: 5px;
    color: #999999;
    width: 40%;
    font-family: Light;
}

.sliderReadmore {
    font-size: 20px;
    text-align: center;
    height: 50px;
    line-height: 47px;
    margin-top: 40px;
    width: 150px;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.sliderReadmore:hover .sliderReadmoreEffect {
    width: 148px;
    opacity: 0;
}

.sliderReadmoreEffect {
    position: absolute;
    width: 0%;
    background-color: #dddddd;
    height: 48px;

    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.slierReadmoreSmallBox {
    color: #dddddd;
    width: 100%;
    height: 100%;
}

#imgWrap2 {
    position: absolute;
    width: 500%;
    height: 100%;
    z-index: 4;
}

#textWrap2 {
    /* font-family: "等线"; */
    position: absolute;
    width: 500%;
    height: 100%;
    color: #dddddd;
    font-size: 22px;
    padding-top: 140px;
    z-index: 5;
}

#buttonWrap {
    position: absolute;
    height: 100px;
    right: 150px;
    bottom: 30px;
    z-index: 6;
}

#sliderPre:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#sliderNex:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#sliderPlay:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#sliderPre:hover .sliderButtonText {
    opacity: 1;
}

#sliderNex:hover .sliderButtonText {
    opacity: 1;
}

#sliderPre:hover .sliderButtonSymbol {
    opacity: 0;
}

#sliderNex:hover .sliderButtonSymbol {
    opacity: 0;
}

#sliderPre, #sliderNex, #sliderPlay {
    width: 120px;
    height: 50px;
    border: 1px solid #eeeeee;
    float: left;
    margin-right: 20px;
    font-size: 35px;
    color: white;
    cursor: pointer;
    transform: translate(0, -50%);

    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

#sliderPlay {
    font-size: 23px;
    width: 50px;
}

#sliderPlay .sliderButtonSymbol {
    line-height: 44px;

    transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
}

.sliderButtonText {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 23px;
    text-align: center;
    line-height: 47px;

    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.sliderButtonSymbol {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 42px;

    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

#sliderBar {
    position: absolute;
    width: 100%;
    height: 10px;
    z-index: 6;
    bottom: 0px;
}

#myBar {
    position: absolute;
    bottom: 2px;
    width: 20%;
    height: 35%;
    background-color: white;
}

#recentPost {
    display: none;
    height: 500px;
    width: 100%;
}