#searchBox {
  position: fixed;
  width: 70%;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
}

em {
  background-color: yellow;
}

#search-input {
  caret-color: auto; /* 預設 */
  caret-color: transparent; /* 透明 */
  caret-color: black;
  outline: rgba(30, 150, 255, 0.7); /* 外框效果 */
}