                <div class = "articleBox" onclick= "window.location.href = 'blog/((order)).html';">
                    <div class = "imgBox((lr))">
                        <img src = "img/blog-image/((order)).jpg" class = "articleImg">
                    </div>
                    <div class = "inforBoxBoder((lr))">
                        <div class = "inforBox">
                            <div class = "articleTime">
                                ((time))
                            </div>
                            <div class = "articleTitle">
                                ((title))
                            </div>
                            <div class = "articleBrief">
                                ((brief))
                            </div>
                            <div class = "articleDisplay">
                                <span class = "display1">字</span><span class = "displaytext1">((number))</span>
                            </div>
                        </div>
                    </div>
                </div>