                <div class = "articleBox">
                    <div class = "imgBox">
                        <img src = "img/blog-image/default.jpg" data-src = "img/blog-image/((order)).jpg" class = "articleImg">
                    </div>
                        <a href = "blog/((order)).html">
                            <div class = "inforBox">
                            <div class = "articleTime">
                                ((time))
                            </div>
                            <div class = "articleTitle">
                                ((title))
                                <div class = "coverLine"></div>
                            </div>
                            <div class = "titleRight"></div>
                            <div class = "articleBrief">
                                ((brief))
                            </div>
                            <div class = "articleDisplay">
                                <span class = "display1">Aa</span><span class = "displaytext1">((number))</span>
                                <span class = "display1">Tag</span><span class = "displaytext1">((tag))</span>
                            </div>
                            </div>
                        </a>
                    <div class = "cuttingLine"></div>
                </div>
