                <div class = "articleBox">
                    <div class = "imgBox">
                    </div>
                        <a href = "blog/((order)).html">
                            <div class = "inforBox">
                            <div class = "articleTime">
                                ((time))
                            </div>
                            <div class = "articleTitleBox">
                                <div class = "articleTitleText">
                                        ((title))
                                </div>
                                <div class = "articleTitleReadmore">
                                    <div class = "readmoreAngle"></div>
                                    <div class = "readmoreBox">READ MORE</div>
                                </div>
                                <div class = "coverLine"></div>
                            </div>
                            <div class = "articleBrief">
                                ((brief))
                            </div>
                            <div class = "articleDisplay">
                                <span class = "display1">Aa</span><span class = "displaytext1">((number))</span>
                                <span class = "display1">Tag</span><span class = "displaytext1">((tag))</span>
                            </div>
                            </div>
                        </a>
                </div>
                <div class = "cuttingLine"></div>