                <a href = "blog/((blogHref)).html">
                    <button class = "box">
                        <div class = "boxUp">
                            <img src = "img/smaller-blog-image/((imgHref)).jpg" class = "boxUpImg">
                            <div class = "briefIntro">
                                <p class = "briefIntroContext">((Title))</p>
                            </div>
                            <div class = "sawNumBox">
                                <i class="fa fa-clock-o" aria-hidden="true" id = "timeLabel"></i>
                                <p class = "sawNum">((Time))</p>
                            </div>
                        </div>
                        <div class = "boxInter"></div>
                        <div class = "boxDown">
                            <div class = "inf1">
                                <p class = "infoText">((brief))</p>
                            </div>
                            <div class = "inf2">
                                <p class = "tagText">((Tag))</p>
                            </div>
                        </div>
                    </button>
                </a>
