                <a href = "blog/((blogHref)).html">
                    <button class = "box">
                        <div class = "boxUp">
                            <img src = "img/((imgHref)).jpg" class = "boxUpImg">
                            <div class = "briefIntro">
                                <p class = "briefIntroContext">((Title))</p>
                            </div>
                            <div class = "sawNumBox">
                                <img src = "img/reload time2.png" class = "eyeImg">
                                <p class = "sawNum">((Time))</p>
                            </div>
                        </div>
                        <div class = "boxInter"></div>
                        <div class = "boxDown">
                            <div class = "inf1">
                                <p class = "infoText">((brief))</p>
                            </div>
                            <div class = "inf2">
                                <p class = "tagText">((Tag))</p>
                                <a href = "#"></a>
                            </div>
                        </div>
                    </button>
                </a>