<!doctype html>
<html lang = "en">
    <head>
        <!-- Required meta tags -->
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1, shrink-to-fit = no">

        <!-- Bootstrap CSS -->
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity = "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin = "anonymous">
        <link rel = "stylesheet" href = "css/new.css">
        <link rel = "stylesheet" href = "css/slider.css">
        <link rel = "stylesheet" href = "css-loader/style.css">
        
        <link rel = "icon" href = "img/icon/favicon.ico" mce_href = "img/icon/favicon.ico" type = "image/x-icon">
        <link rel = "shortcut icon" href = "img/icon/favicon.ico" mce_href = "img/icon/favicon.ico" type = "image/x-icon">

        <title>MITSUYAMA | HOME</title>
    </head>
    <body>
        <div id = loading>
            <div class="loader">
                <div class="loader-inner">
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id = "slideContainer">
            <div id = "slideLeft">
                <div id = "briefWrap">
                    <div class = "brWraps">
                        <div class = "slideIntro">
                            <div class = "slideBrief">
                                ((sliderBrief0))
                            </div>
                            <div class = "slideTime">((sliderTime0))</div>
                        </div>
                    </div>
                    <div class = "brWraps">
                        <div class = "slideIntro">
                            <div class = "slideBrief">
                                ((sliderBrief1))
                            </div>
                            <div class = "slideTime">((sliderTime1))</div>
                        </div>
                    </div>
                    <div class = "brWraps">
                        <div class = "slideIntro">
                            <div class = "slideBrief">
                                ((sliderBrief2))
                            </div>
                            <div class = "slideTime">((sliderTime2))</div>
                        </div>
                    </div>
                    <div class = "brWraps">
                        <div class = "slideIntro">
                            <div class = "slideBrief">
                                ((sliderBrief3))
                            </div>
                            <div class = "slideTime">((sliderTime3))</div>
                        </div>
                    </div>
                    <div class = "brWraps">
                        <div class = "slideIntro">
                            <div class = "slideBrief">
                                ((sliderBrief4))
                            </div>
                            <div class = "slideTime">((sliderTime4))</div>
                        </div>
                    </div>
                </div>
                <div id = "titleWrapBox">
                    <div id = "titleWrap1"></div>
                    <div id = "titleWrap2"></div>
                    <div id = "titleWrap">
                        <div class = "ttWraps">
                            <div class = "slideTitle">
                                <div class = "centerText">((slierTitle0))</div>
                            </div>
                            <div class = "slideTitleAfter">1/5</div>
                        </div>
                        <div class = "ttWraps">
                            <div class = "slideTitle">
                                <div class = "centerText">((slierTitle1))</div>
                            </div>
                            <div class = "slideTitleAfter">2/5</div>
                        </div>
                        <div class = "ttWraps">
                            <div class = "slideTitle">
                                <div class = "centerText">((slierTitle2))</div>
                            </div>
                            <div class = "slideTitleAfter">3/5</div>
                        </div>
                        <div class = "ttWraps">
                            <div class = "slideTitle">
                                <div class = "centerText">((slierTitle3))</div>
                            </div>
                            <div class = "slideTitleAfter">4/5</div>
                        </div>
                        <div class = "ttWraps">
                            <div class = "slideTitle">
                                <div class = "centerText">((slierTitle4))</div>
                            </div>
                            <div class = "slideTitleAfter">5/5</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id = "slideRight">
                <div id = "debrisContainer">
                    <div class = "debris" id = "debris1"></div>
                    <div class = "debris" id = "debris2"></div>
                    <div class = "debris" id = "debris3"></div>
                    <div class = "debris" id = "debris4"></div>
                    <div class = "debris" id = "debris5"></div>
                </div>
                <div class = "slideBook" id = "slideObject">
                    <div id = "a0"></div>
                    <div id = "a1"></div>
                    <div id = "a2"></div>
                    <div id = "a3"></div>
                    <div id = "a4"></div>
                    <div id = "a5"></div>
                    <div id = "a6"></div>
                    <div id = "a7"></div>
                    <div id = "a8"></div>
                    <div id = "a9"></div>
                    <div id = "aa"></div>
                    <div id = "ab"></div>
                    <div id = "ac"></div>
                    <div id = "ad"></div>
                </div>
            </div>
            <div id = "slideCircle">
                <div class = "centerText">→</div>
            </div>
        </div>
        
        <!-- <div id = "sliderContainer">
            <div id = "imgWrap">
                <div class = "sliderPage">
                    <img src = "img/blog-image/order0.jpg" class = "sliderImg">
                </div>
                <div class = "sliderPage">
                    <img src = "img/blog-image/order1.jpg" class = "sliderImg">
                </div>
                <div class = "sliderPage">
                    <img src = "img/blog-image/order2.jpg" class = "sliderImg">
                </div>
                <div class = "sliderPage">
                    <img src = "img/blog-image/order3.jpg" class = "sliderImg">
                </div>
                <div class = "sliderPage">
                    <img src = "img/blog-image/order4.jpg" class = "sliderImg">
                </div>
            </div>
            <div id = "textWrap">
                <div class = "sliderTextPage">
                    <div class = "sliderTitle">
                        ((slierTitle0))
                    </div>
                </div>
                <div class = "sliderTextPage">
                    <div class = "sliderTitle">
                        ((slierTitle1))
                    </div>
                </div>
                <div class = "sliderTextPage">
                    <div class = "sliderTitle">
                        ((slierTitle2))
                    </div>
                </div>
                <div class = "sliderTextPage">
                    <div class = "sliderTitle">
                       ((slierTitle3))
                    </div>
                </div>
                <div class = "sliderTextPage">
                    <div class = "sliderTitle">
                        ((slierTitle4))
                    </div>
                </div>
            </div>
            <div id = "textWrap2">
                <div class = "sliderTextPage">
                    <div class = "sliderTime">
                        ((sliderTime0))
                    </div>
                    <div class = "sliderBrief">
                        ((sliderBrief0))
                    </div>
                    <div class = "sliderReadmore">
                        <a href = "blog/order0.html">
                            <div class = "slierReadmoreSmallBox">
                                <div class = "sliderReadmoreEffect"></div>
                                READ MORE
                            </div>
                        </a>
                    </div>
                </div>
                <div class = "sliderTextPage">
                    <div class = "sliderTime">
                        ((sliderTime1))
                    </div>
                    <div class = "sliderBrief">
                        ((sliderBrief1))
                    </div>
                    <div class = "sliderReadmore">
                        <a href = "blog/order1.html">
                            <div class = "slierReadmoreSmallBox">
                                <div class = "sliderReadmoreEffect"></div>
                                READ MORE
                            </div>
                        </a>
                    </div>
                </div>
                <div class = "sliderTextPage">
                    <div class = "sliderTime">
                        ((sliderTime2))
                    </div>
                    <div class = "sliderBrief">
                        ((sliderBrief2))
                    </div>
                    <div class = "sliderReadmore">
                        <a href = "blog/order2.html">
                            <div class = "slierReadmoreSmallBox">
                                <div class = "sliderReadmoreEffect"></div>
                                READ MORE
                            </div>
                        </a>
                    </div>
                </div>
                <div class = "sliderTextPage">
                    <div class = "sliderTime">
                        ((sliderTime3))
                    </div>
                    <div class = "sliderBrief">
                        ((sliderBrief3))
                    </div>
                    <div class = "sliderReadmore">
                        <a href = "blog/order3.html">
                            <div class = "slierReadmoreSmallBox">
                                <div class = "sliderReadmoreEffect"></div>
                                READ MORE
                            </div>
                        </a>
                    </div>
                </div>
                <div class = "sliderTextPage">
                    <div class = "sliderTime">
                        ((sliderTime4))
                    </div>
                    <div class = "sliderBrief">
                        ((sliderBrief4))
                    </div>
                    <div class = "sliderReadmore">
                        <a href = "blog/order4.html">
                            <div class = "slierReadmoreSmallBox">
                                <div class = "sliderReadmoreEffect"></div>
                                READ MORE
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div id = "buttonWrap">
                <div id = "sliderPre">
                    <div class = "sliderButtonSymbol">←</div>
                    <div class = "sliderButtonText">Prev</div>
                </div>
                <div id = "sliderPlay">
                    <div class = "sliderButtonSymbol">| |</div>             
                </div>
                <div id = "sliderNex">
                    <div class = "sliderButtonSymbol">→</div>
                    <div class = "sliderButtonText">Next</div>
                </div>

            </div>

            <div id = "sliderBar">
                <div id = "myBar"></div>
            </div>

        </div> -->

        <div id = "afterSlider">
            <div id = "myIntro">
                <div id = "introBox">
                    <img src = "img/background-img/intro.jpeg" id = "introImg">
                    <div id = "introLeft">
                        <div id = "introTitle">
                            HELLO, WELCOME <br> THIS IS <br> <span id = "introTitleColor">MITSUYAMA</span>
                        </div>
                        <div id = "introContent">
                            Please take a seat and have a look. Maybe there's something you like.
                        </div>
                        <div id = "aboutMeBox">
                            <a href = "blog/about.html">
                                <div id = "aboutMe">ABOUT ME</div>
                            </a>
                        </div>
                    </div>
                    <div id = "introRight">
                        <div id = "webInfo">
                            <div class = "webInfoBox">
                                <span class = "webInfoCon">((blogNumber))</span>
                                <span class = "webInfoTitle">BLOGS</span>
                            </div>
                            <div class = "webInfoBox">
                                <span class = "webInfoCon">((blogDays))</span>
                                <span class = "webInfoTitle">DAYS</span>
                            </div>
                        </div>
                    </div>
                    <div id = "introLinkTitle">WEB INFORMATION</div>
                </div>

                <div id = "blogSorts">
                    <div id = "sortFilter"></div>
                    <div id = "sortTitle">BLOG CLASSIFICATIONS</div>
                    <div class = "mySort">
                        <img src = "img/icon/notes.svg" class = "sortImg">
                        <div class = "sortText">NOTES</div>
                        <div class = "sortUpLine"></div>
                        <div class = "sortdownLine"></div>
                        <div class = "sortUpLine"></div>
                    </div>
                    <div class = "mySort">
                        <img src = "img/icon/mathmatics.svg" class = "sortImg">
                        <div class = "sortText">Mathmatics</div>
                        <div class = "sortUpLine"></div>
                        <div class = "sortdownLine"></div>
                        <div class = "sortUpLine"></div>
                    </div>
                    <div class = "mySort">
                        <img src = "img/icon/music.svg" class = "sortImg">
                        <div class = "sortText">Music</div>
                        <div class = "sortUpLine"></div>
                        <div class = "sortdownLine"></div>
                        <div class = "sortUpLine"></div>
                    </div>
                    <div class = "mySort">
                        <img src = "img/icon/acg.svg" class = "sortImg">
                        <div class = "sortText">ACG</div>
                        <div class = "sortUpLine"></div>
                        <div class = "sortdownLine"></div>
                        <div class = "sortUpLine"></div>
                    </div>
                    <div class = "mySort">
                        <img src = "img/icon/language.svg" class = "sortImg">
                        <div class = "sortText">Language</div>
                        <div class = "sortUpLine"></div>
                        <div class = "sortdownLine"></div>
                        <div class = "sortUpLine"></div>
                    </div>
                    <div class = "mySort">
                        <img src = "img/icon/computer.svg" class = "sortImg">
                        <div class = "sortText">Computer</div>
                        <div class = "sortUpLine"></div>
                        <div class = "sortdownLine"></div>
                        <div class = "sortUpLine"></div>
                    </div>
                    <div class = "mySort">
                        <img src = "img/icon/more.svg" class = "sortImg">
                        <div class = "sortText">More</div>
                        <div class = "sortUpLine"></div>
                        <div class = "sortdownLine"></div>
                        <div class = "sortUpLine"></div>
                    </div>
                </div>
            </div>

            
            <div id = "recentPost">
((articleBoxs))
            </div>
        </div>

        <div id = "recentPosts"></div>

        <div id = "commingSoon">
            COMING SOON...
        </div>
        
        <script src = "https://cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.js"></script>
        <script src = "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
        <script src = "js/new.js"></script>

    </body>
</html>