<!doctype html>
<html lang = "en">
    <head>
        <!-- Required meta tags -->
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1, shrink-to-fit = no">

        <!-- Bootstrap CSS -->
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity = "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin = "anonymous">
        <link rel = "stylesheet" href = "css/new.css">
        <link rel = "stylesheet" href = "css-loader/style.css">

        <link rel = "icon" href = "img/icon/favicon.ico" mce_href = "img/icon/favicon.ico" type = "image/x-icon">
        <link rel = "shortcut icon" href = "img/icon/favicon.ico" mce_href = "img/icon/favicon.ico" type = "image/x-icon">

        <title>MITSUYAMA | HOME</title>
    </head>
    <body>
        <div id = loading>
            <div class="loader">
                <div class="loader-inner">
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id = "sliderContainer">
            <div id = "imgWrap">
                <div class = "sliderPage">
                    <img src = "img/blog-image/order0.jpg" class = "sliderImg">
                </div>
                <div class = "sliderPage">
                    <img src = "img/blog-image/order1.jpg" class = "sliderImg">
                </div>
                <div class = "sliderPage">
                    <img src = "img/blog-image/order2.jpg" class = "sliderImg">
                </div>
                <div class = "sliderPage">
                    <img src = "img/blog-image/order3.jpg" class = "sliderImg">
                </div>
                <div class = "sliderPage">
                    <img src = "img/blog-image/order4.jpg" class = "sliderImg">
                </div>
            </div>
            <div id = "textWrap">
                <div class = "sliderTextPage">
                    <div class = "sliderTitle">
                        ((slierTitle0))
                    </div>
                </div>
                <div class = "sliderTextPage">
                    <div class = "sliderTitle">
                        ((slierTitle1))
                    </div>
                </div>
                <div class = "sliderTextPage">
                    <div class = "sliderTitle">
                        ((slierTitle2))
                    </div>
                </div>
                <div class = "sliderTextPage">
                    <div class = "sliderTitle">
                       ((slierTitle3))
                    </div>
                </div>
                <div class = "sliderTextPage">
                    <div class = "sliderTitle">
                        ((slierTitle4))
                    </div>
                </div>
            </div>
            <div id = "imgWrap2">
                <div class = "sliderPage">
                    <img src = "img/blog-image/orderb0.png" class = "sliderImg">
                </div>
                <div class = "sliderPage">
                    <img src = "img/blog-image/orderb1.png" class = "sliderImg">
                </div>
                <div class = "sliderPage">
                    <img src = "img/blog-image/orderb2.png" class = "sliderImg">
                </div>
                <div class = "sliderPage">
                    <img src = "img/blog-image/orderb3.png" class = "sliderImg">
                </div>
                <div class = "sliderPage">
                    <img src = "img/blog-image/orderb4.png" class = "sliderImg">
                </div>
            </div>
            <div id = "textWrap2">
                <div class = "sliderTextPage">
                    <div class = "sliderTime">
                        ((sliderTime0))
                    </div>
                    <div class = "sliderBrief">
                        ((sliderBrief0))
                    </div>
                    <div class = "sliderReadmore">
                        <a href = "blog/order0.html">
                            <div class = "slierReadmoreSmallBox">
                                <div class = "sliderReadmoreEffect"></div>
                                READ MORE
                            </div>
                        </a>
                    </div>
                </div>
                <div class = "sliderTextPage">
                    <div class = "sliderTime">
                        ((sliderTime1))
                    </div>
                    <div class = "sliderBrief">
                        ((sliderBrief1))
                    </div>
                    <div class = "sliderReadmore">
                        <a href = "blog/order1.html">
                            <div class = "slierReadmoreSmallBox">
                                <div class = "sliderReadmoreEffect"></div>
                                READ MORE
                            </div>
                        </a>
                    </div>
                </div>
                <div class = "sliderTextPage">
                    <div class = "sliderTime">
                        ((sliderTime2))
                    </div>
                    <div class = "sliderBrief">
                        ((sliderBrief2))
                    </div>
                    <div class = "sliderReadmore">
                        <a href = "blog/order2.html">
                            <div class = "slierReadmoreSmallBox">
                                <div class = "sliderReadmoreEffect"></div>
                                READ MORE
                            </div>
                        </a>
                    </div>
                </div>
                <div class = "sliderTextPage">
                    <div class = "sliderTime">
                        ((sliderTime3))
                    </div>
                    <div class = "sliderBrief">
                        ((sliderBrief3))
                    </div>
                    <div class = "sliderReadmore">
                        <a href = "blog/order3.html">
                            <div class = "slierReadmoreSmallBox">
                                <div class = "sliderReadmoreEffect"></div>
                                READ MORE
                            </div>
                        </a>
                    </div>
                </div>
                <div class = "sliderTextPage">
                    <div class = "sliderTime">
                        ((sliderTime4))
                    </div>
                    <div class = "sliderBrief">
                        ((sliderBrief4))
                    </div>
                    <div class = "sliderReadmore">
                        <a href = "blog/order4.html">
                            <div class = "slierReadmoreSmallBox">
                                <div class = "sliderReadmoreEffect"></div>
                                READ MORE
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div id = "buttonWrap">
                <div id = "sliderPre">
                    <div class = "sliderButtonSymbol">←</div>
                    <div class = "sliderButtonText">Prev</div>
                </div>
                <div id = "sliderNex">
                    <div class = "sliderButtonSymbol">→</div>
                    <div class = "sliderButtonText">Next</div>
                </div>
                <div id = "sliderPlay">
                    <div class = "sliderButtonSymbol">| |</div>             
                </div>
            </div>

            <div id = "sliderBar">
                <div id = "myBar"></div>
            </div>

        </div>

        <div id = "recentPost">

        </div>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src = "https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity = "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin = "anonymous"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity = "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin = "anonymous"></script>
        <script src = "https://cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.js"></script>
        <script src = "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
        <script src = "js/new.js"></script>

    </body>
</html>