<!doctype html>
<html lang = "en">
    <head>
        <!-- Required meta tags -->
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1, shrink-to-fit = no">

        <!-- Bootstrap CSS -->
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity = "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin = "anonymous">
        <link rel = "stylesheet" href = "css/new.css">
        <link rel = "stylesheet" href = "css-loader/style.css">
        
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->

        <link rel = "icon" href = "img/icon/favicon.ico" mce_href = "img/icon/favicon.ico" type = "image/x-icon">
        <link rel = "shortcut icon" href = "img/icon/favicon.ico" mce_href = "img/icon/favicon.ico" type = "image/x-icon">

        <title>MITSUYAMA | HOME</title>
    </head>
    <body>
        <div id = loading>
            <div class="loader">
                <div class="loader-inner">
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id = "slideContainer">
            <div id = "wraps">
                <div class = "wrap">
                    <div class = "slideTag">((sliderTag0))</div>
                    <div class = "slideImgBox">
                        <img class = "slideImg" src = "img/slide-img/1.png">
                    </div>
                    <div class = "sliderContet">
                        <div class = "slideTime">((sliderTime0))</div>
                        <div class = "slideTitle">((slierTitle0))</div>
                        <div class = "slideBrieft">
                            ((sliderBrief0))
                        </div>
                        <div class = "slideReadmore">READ MORE</div>
                    </div>
                </div>
                <div class = "wrap">
                    <div class = "slideTag">((sliderTag1))</div>
                    <div class = "slideImgBox">
                        <img class = "slideImg" src = "img/slide-img/2.png">
                    </div>
                    <div class = "sliderContet">
                        <div class = "slideTime">((sliderTime1))</div>
                        <div class = "slideTitle">((slierTitle1))</div>
                        <div class = "slideBrieft">
                            ((sliderBrief1))
                        </div>
                        <div class = "slideReadmore">READ MORE</div>
                    </div>
                </div>
                <div class = "wrap">
                    <div class = "slideTag">((sliderTag2))</div>
                    <div class = "slideImgBox">
                        <img class = "slideImg" src = "img/slide-img/3.png">
                    </div>
                    <div class = "sliderContet">
                        <div class = "slideTime">((sliderTime2))</div>
                        <div class = "slideTitle">((slierTitle2))</div>
                        <div class = "slideBrieft">
                            ((sliderBrief2))
                        </div>
                        <div class = "slideReadmore">READ MORE</div>
                    </div>
                </div>
                <div class = "wrap">
                    <div class = "slideTag">((sliderTag3))</div>
                    <div class = "slideImgBox">
                        <img class = "slideImg" src = "img/slide-img/4.png">
                    </div>
                    <div class = "sliderContet">
                        <div class = "slideTime">((sliderTime3))</div>
                        <div class = "slideTitle">((slierTitle3))</div>
                        <div class = "slideBrieft">
                            ((sliderBrief3))
                        </div>
                        <div class = "slideReadmore">READ MORE</div>
                    </div>
                </div>
                <div class = "wrap">
                    <div class = "slideTag">((sliderTag4))</div>
                    <div class = "slideImgBox">
                        <img class = "slideImg" src = "img/slide-img/5.png">
                    </div>
                    <div class = "sliderContet">
                        <div class = "slideTime">((sliderTime4))</div>
                        <div class = "slideTitle">((slierTitle4))</div>
                        <div class = "slideBrieft">
                            ((sliderBrief4))
                        </div>
                        <div class = "slideReadmore">READ MORE</div>
                    </div>
                </div>
            </div>
            <div id = "slieBar">
                <div class = "bars" id = "bar1"><div class = "barText">01</div></div>
                <div class = "bars" id = "bar2"><div class = "barText">02</div></div>
                <div class = "bars" id = "bar3"><div class = "barText">03</div></div>
                <div class = "bars" id = "bar4"><div class = "barText">04</div></div>
                <div class = "bars" id = "bar5"><div class = "barText">05</div></div>
            </div>
            <div id = "contactBar">
                    <a href = "http://weibo.com/mitsuyama">
                    <div class = "contacts">
                        <img class = "contactImg" src = "img/icon/weibo.png">
                        <div class = "contactText">weibo</div>
                    </div>
                </a>
                <a href = "https://github.com/Mittsuyama">
                    <div class = "contacts">
                        <img class = "contactImg" src = "img/icon/github.png">
                        <div class = "contactText">github</div>
                    </div>
                </a>
                <a href = "https://twitter.com/Mittsuyama33">
                    <div class = "contacts">
                        <img class = "contactImg" src = "img/icon/twitter.png">
                        <div class = "contactText">twitter</div>
                    </div>
                </a>
            </div>
        </div>
        
        <div id = "afterSlider">
            <div id = "myIntro">
                <div id = "introBox">
                    <img src = "img/background-img/intro.jpeg" id = "introImg">
                    <div id = "introLeft">
                        <div id = "introTitle">
                            HELLO, WELCOME <br> THIS IS <br> <span id = "introTitleColor">MITSUYAMA</span>
                        </div>
                        <div id = "introContent">
                            Please take a seat and have a look. Maybe there's something you like.
                        </div>
                        <div id = "aboutMeBox">
                            <a href = "blog/about.html">
                                <div id = "aboutMe">ABOUT ME</div>
                            </a>
                        </div>
                    </div>
                    <div id = "introRight">
                        <div id = "webInfo">
                            <div class = "webInfoBox">
                                <span class = "webInfoCon">((blogNumber))</span>
                                <span class = "webInfoTitle">BLOGS</span>
                            </div>
                            <div class = "webInfoBox">
                                <span class = "webInfoCon">((blogDays))</span>
                                <span class = "webInfoTitle">DAYS</span>
                            </div>
                        </div>
                    </div>
                    <div id = "introLinkTitle">WEB INFORMATION</div>
                </div>

                <div id = "blogSorts">
                    <div id = "sortFilter"></div>
                    <div id = "sortTitle">BLOG CATOGERIES</div>
                    <div class = "mySort">
                        <img src = "img/icon/notes.svg" class = "sortImg">
                        <div class = "sortText">NOTES</div>
                        <div class = "sortUpLine"></div>
                        <div class = "sortdownLine"></div>
                        <div class = "sortUpLine"></div>
                    </div>
                    <div class = "mySort">
                        <img src = "img/icon/mathmatics.svg" class = "sortImg">
                        <div class = "sortText">Mathmatics</div>
                        <div class = "sortUpLine"></div>
                        <div class = "sortdownLine"></div>
                        <div class = "sortUpLine"></div>
                    </div>
                    <div class = "mySort">
                        <img src = "img/icon/music.svg" class = "sortImg">
                        <div class = "sortText">Music</div>
                        <div class = "sortUpLine"></div>
                        <div class = "sortdownLine"></div>
                        <div class = "sortUpLine"></div>
                    </div>
                    <div class = "mySort">
                        <img src = "img/icon/acg.svg" class = "sortImg">
                        <div class = "sortText">ACG</div>
                        <div class = "sortUpLine"></div>
                        <div class = "sortdownLine"></div>
                        <div class = "sortUpLine"></div>
                    </div>
                    <div class = "mySort">
                        <img src = "img/icon/language.svg" class = "sortImg">
                        <div class = "sortText">Language</div>
                        <div class = "sortUpLine"></div>
                        <div class = "sortdownLine"></div>
                        <div class = "sortUpLine"></div>
                    </div>
                    <div class = "mySort">
                        <img src = "img/icon/computer.svg" class = "sortImg">
                        <div class = "sortText">Computer</div>
                        <div class = "sortUpLine"></div>
                        <div class = "sortdownLine"></div>
                        <div class = "sortUpLine"></div>
                    </div>
                    <div class = "mySort">
                        <img src = "img/icon/more.svg" class = "sortImg">
                        <div class = "sortText">More</div>
                        <div class = "sortUpLine"></div>
                        <div class = "sortdownLine"></div>
                        <div class = "sortUpLine"></div>
                    </div>
                </div>
            </div>

            
            <div id = "recentPost">
((articleBoxs))
            </div>
        </div>

        <div id = "recentPosts"></div>

        <div id = "commingSoon">
            COMING SOON...
        </div>
        
        <script src = "https://cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.js"></script>
        <script src = "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
        <script src = "js/new.js"></script>

    </body>
</html>